@use 'fonts' as *;
@use 'colors' as*;


main{
    font-family: $mainFont;
    display: flex;
    flex-direction: column;

    .banner{
        background-color: $gray;
        text-align: right;
        padding: 40px;
        margin: 10px;

        a{
            text-decoration: none;
            display: inline-block;
            background-color: $white;
            color: $black;
            padding: 10px 20px;
            font-weight: bold;
        }
        
    }
    section{
        display: flex;
        flex-direction: column;
        
        nav{
            display: flex;
            list-style: none;
            justify-content: center;
            gap: 10px;
            

            a{
                padding: 10px 20px;
                border: 2px solid $black;
                background-color: transparent;
                color: $black;
                text-align: center;
                text-decoration: none;
                
            }
        }
    }

    .kategorier{
        padding: 22px;

        article{
            text-align: center;
            padding: 100px;
            border: 2px solid $black;
            margin-bottom: 22px;
        }
    }

    .anmeldelser{
        padding: 22px;

        article{
            display: flex;
            flex-direction: column;
            padding: 10px;
            border: 0.5px solid $black;
            margin-bottom: 22px;

            img{
                max-width: 150px;

            }
        }
    }
}

@media(min-width: 1024px){

    .populærproduktkort{
        margin-top: 20px;
        display: flex;
        flex-flow: row wrap;
        .produktkort {
            max-width: 350px;
            margin-left: 1rem;
            margin-right: 1rem;
        }
        
    }

    .kategorier{
        display: flex;
        flex-flow: wrap;

        
        h2, p{
            width: 100%;
        }

        .categoricard1, .categoricard2, .categoricard3{
            max-width: 386px;
        }

        .categoricard4{
            max-width: 864px;
        }

        .categoricard5{
            max-width: 300px;
        }

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

    }
}
