@use 'fonts' as *;
@use 'colors' as *;

.smulesti{
    ul{
        list-style: none;
        display: flex;
        gap: 5px;
        padding: 0px;
        margin: 0px;

        li{
            display: flex;
            align-items: center;
            gap: 10px;
            
            
            

            & + li:before{
                content: ">";
                
            }

            a{
                text-decoration: none;
            

            }
        }
    }

    
    
}

.produktbilder{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    

    article{

        display: flex;
        flex-direction: column;
        gap: 5px;
        
        
        picture{
            width: 400px;
            height: 400px;
            align-items: center;

            img{
                height: 100%;
                width: 100%;
                display: block;
            }

        }
    }    
}

.produktinfo{
    padding: 0px;

    a{
        text-decoration: none;
        margin-bottom: 10px;
    }
    
    p{
        margin: 5px 0px;
    }
    
}


.lignendeprodukter{

    article{
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        padding: 15px;
        margin-bottom: 20px;
        
        picture{
            width: 100%;
            height: 100%;

            img{
                width: 100%;
                object-fit: cover;
            }
        }
        h3{
            margin: 0px;
        }
        
        p{
            margin: 0px;
        }
    }


}

@media(min-width: 1024px){
    .produktbilder{
        display: flex;
        flex-direction: row;
        .bilderseksjon{
            display: flex;
            flex-flow: row wrap;
            width: 700px;
            
        }

        
        .produktinfo{
            width: 440px;
        }
    }
}